apiai==1.2.3
attrs==19.3.0
cachetools==4.1.0
certifi==2022.12.7
chardet==3.0.4
dialogflow==1.0.0
google-api-core==1.17.0
google-auth==1.16.0
googleapis-common-protos==1.51.0
grpcio==1.29.0
idna==2.9
importlib-metadata==1.6.0
more-itertools==8.3.0
numpy==1.17.2
packaging==20.4
peewee==3.13.2
Pillow==7.1.1
pluggy==0.13.1
protobuf==3.12.2
py==1.8.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==2.4.7
PySocks==1.7.1
pyTelegramBotAPI==3.6.7
pytest==5.4.2
pytz==2020.1
requests==2.23.0
rsa==4.0
selenium==3.141.0
six==1.14.0
urllib3==1.25.9
wcwidth==0.1.9
zipp==3.1.0
